In [1]:
# Ques No. -01 Covert a iteger to a floatig-poit umber.

In [2]:
integer_number = 5
floating_point_number = float(integer_number)
print(floating_point_number)

5.0

In [3]:
#In this example, integer_number is converted to a floating-point number using the float() function, and the result is stored in floating_point_number. The output would be 5.0.

SyntaxError: invalid syntax (2634101764.py, line 1)

In [4]:
# QuesNo. - 02 Covert a float to a iteger.

In [5]:
float_number = 3.5
integer_number = int(float_number)
print(integer_number)

3

In [ ]:
# In this example, float_number is converted to an integer using the int() function, and the result is stored in integer_number. The output would be 3. Note that when converting a float to an integer, the decimal part is truncated. So, in this case, 3.5 becomes 3.

In [6]:
# Ques No. 3 Covert a iteger to a strig.

In [7]:
integer_number = 42
string_number = str(integer_number)
print(string_number)

42

In [8]:
# In this example, integer_number is converted to a string using the str() function, and the result is stored in string_number. The output would be '42'.

In [9]:
# Ques No. 4 Covert a list to a tuple.

In [10]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)

In [12]:
# In this example, my_list is converted to a tuple using the tuple() function, and the result is stored in my_tuple. The output would be (1, 2, 3, 4, 5).

In [13]:
# Ques no.- 05 I Covert a tuple to a list.

In [14]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [15]:
# In this example, my_tuple is converted to a list using the list() function, and the result is stored in my_list. The output would be [1, 2, 3, 4, 5].

In [16]:
# QuesNo.- 06 Covert a decimal number to binary.

SyntaxError: invalid syntax (4065607665.py, line 1)

In [17]:
decimal_number = 10
binary_representation = bin(decimal_number)
print(binary_representation)

0b1010

In [18]:
# In this example, decimal_number is converted to its binary representation using the bin() function, and the result is stored in binary_representation. The output would be '0b1010', where '0b' indicates that the following digits represent a binary number.

In [19]:
# QuesNo.- 07 Covert a non-zero number to a boolean.

In [20]:
non_zero_number = 10
boolean_value = bool(non_zero_number)
print(boolean_value)

True

In [21]:
# In this example, bool() is used to convert non_zero_number to a boolean value. Any non-zero number will be converted to True, while 0 would be converted to False. So, the output would be True since 10 is non-zero.